:root {
  --forest-font-display: Verdana, Geneva, sans-serif;
  --forest-font-text: Verdana, Geneva, sans-serif;
  --forest-font-mono: 'Courier New', Courier, monospace;
  --forest-type-h1-letter-spacing: normal;
}
