[data-retro-stage] [data-testid='cv-experience-entry'] div:has(> h3) {
  display: block;
}

[data-retro-stage] [data-testid='cv-experience-entry'] div:has(> h3) > img {
  float: left;
  margin: 2px 6px 0 0;
}

[data-retro-stage] [data-testid='cv-experience-entry'] div:not(:has(> h3)) {
  clear: both;
}
