[data-retro-stage] address a {
  color: #0000ee;
  text-decoration: underline;
}

[data-retro-stage] address img {
  display: none;
}

[data-retro-stage] address p::before {
  margin-right: 4px;
  font-weight: 700;
}

[data-retro-stage] [data-agent-id='contact:email']::before {
  content: 'E-mail me:';
}

[data-retro-stage] address p:has([data-agent-id='contact:phone'])::before {
  content: 'Phone:';
}
